{% from "macros/alert-helpers.njk" import confirmationChangeLink %}

{%
  macro recipientSummaryCard(formPath, queryData, schemes, changeLinkLabel, changeLinkTarget, emailAddress)
%}
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Recipient</h2>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
          {{
            confirmationChangeLink(formPath, queryData, schemes, changeLinkLabel, changeLinkTarget)
          }}
        </li>
      </ul>
    </div>

    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Email address</dt>
          <dd class="govuk-summary-list__value">{{ emailAddress }}</dd>
        </div>
      </dl>
    </div>
  </div>
{% endmacro %}

{%
  macro schemeSummaryCard(scheme, formPath, queryData, schemes, changeLinkLabel, changeLinkTarget, formatAlertType)
%}
  {% if scheme.alertTypes and scheme.alertTypes.length %}
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">{{ scheme.schemeName }}</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            {{
              confirmationChangeLink(formPath, queryData, schemes, changeLinkLabel, changeLinkTarget)
            }}
          </li>
        </ul>
      </div>

      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Alert types</dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                {% for alertType in scheme.alertTypes %}
                  <li>{{ formatAlertType(alertType) }}</li>
                {% endfor %}
              </ul>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  {% endif %}
{% endmacro %}

{%
  macro confirmationHiddenFields(crumb, contactId, emailAddress, action, schemeId, schemes)
%}
  <input
    type="hidden"
    name="crumb"
    value="{{ crumb }}"
  />

  {% if contactId %}
    <input
      type="hidden"
      name="contactId"
      value="{{ contactId }}"
    />
  {% endif %}

  <input
    type="hidden"
    name="emailAddress"
    value="{{ emailAddress }}"
  />
  <input
    type="hidden"
    name="action"
    value="{{ action }}"
  />

  {% if schemeId %}
    <input
      type="hidden"
      name="schemeId"
      value="{{ schemeId }}"
    />
  {% endif %}

  {% for scheme in schemes %}
    {% for alertType in scheme.alertTypes %}
      <input
        type="hidden"
        name="{{ scheme.schemeId }}"
        value="{{ alertType }}"
      />
    {% endfor %}
  {% endfor %}
{% endmacro %}
