{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro downloadPageTitle(text) %}
  <h1 class="govuk-heading-l">{{ text }}</h1>
{% endmacro %}

{% macro schemeSelect(schemes, selectedSchemeId = '', errorMessage = null) %}
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        Scheme
      </legend>
      <div
        class="govuk-radios govuk-radios--small"
        data-module="govuk-radios">
        {% for scheme in schemes %}
          {%
            if scheme and scheme.schemeId is defined and scheme.name is defined
          %}
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="schemeId-{{ loop.index }}"
                name="schemeId"
                type="radio"
                value="{{ scheme.schemeId }}"
                errorMessage:
                errorMessage
                {% if scheme.schemeId == selectedSchemeId %}checked{% endif %}
              />
              <label
                class="govuk-label govuk-radios__label"
                for="schemeId-{{ loop.index }}">
                {{ scheme.name }}
              </label>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </fieldset>
  </div>
{% endmacro %}

{% macro yearInput(yearValue = '', errorMessage = null) %}
  {{
    govukInput({
      id: "marketingYear",
      name: "marketingYear",
      label: {
        text: "Marketing year",
        classes: "govuk-label--s"
      },
      classes: "govuk-input--width-4",
      value: yearValue,
      inputmode: "numeric",
      errorMessage: errorMessage
    })
  }}
{% endmacro %}

{% macro frnInput(frnValue = '', errorMessage = null) %}
  {{
    govukInput({
      id: "frn",
      name: "frn",
      label: {
        text: "Firm reference number (FRN)",
        classes: "govuk-label--s"
      },
      classes: "govuk-input--width-10",
      value: frnValue,
      inputmode: "numeric",
      errorMessage: errorMessage
    })
  }}
{% endmacro %}

{% macro submitButton(label = "Search statements") %}
  <div class="govuk-button-group">
    <button
      id="report-submit"
      class="govuk-button"
      data-module="govuk-button">
      {{ label }}
    </button>
    <button
      type="button"
      class="govuk-button govuk-button--secondary"
      onclick="window.location.href='/download-statements'">
      Clear
    </button>
  </div>
{% endmacro %}

{% macro dateInput(id, text, errors = {}) %}
  {{
    govukDateInput({
        id: id,
        namePrefix: id,
        fieldset: {
            legend: {
                text: text
            }
        },
        hint: {
            text: "For example, 27-11-2025 18:00"
        }
    })
  }}
{% endmacro %}
