{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% macro holdBreadcrumbsWithSearch(pageTitle) %}
  {{
    govukBreadcrumbs({
      items: [{
        text: "Home",
        href: "/"
      },{
        text: "Manage payment holds",
        href: "/payment-holds/manage"
      },{
        text: "Search for a payment hold",
        href: "/payment-holds/search"
      }, {
        text: pageTitle
      }]
    })
  }}
{% endmacro %}
