{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from 'macros/hold-selection-radios.njk' import holdSelectionRadios %}

{% set pageTitle = type | capitalize ~ ' payment holds in bulk' %}

{% block pageTitle %}{{ pageTitle }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{
    govukBreadcrumbs({
      items: [{
        text: "Home",
        href: "/"
      },{
        text: "Manage payment holds",
        href: "/payment-holds/manage"
      },{
        text: "Manage payment holds in bulk",
        href: "/payment-holds/bulk-manage"
      }, {
        text: pageTitle
      }]
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form
        method="POST"
        action="/payment-holds/bulk"
        autocomplete="off"
        novalidate
        enctype="multipart/form-data">
        <input
          type="hidden"
          name="crumb"
          value="{{crumb}}"
        />
        <input
          type="hidden"
          name="type"
          value="{{type}}"
        />

        {% if errors %}
          {% set errorList = [] %}
          {% for error in errors.details %}
            {% set errorHref = "#" %}
            {% if error.path[0] == "file" %}
              {% set errorHref = "#file" %}
            {% elif error.path[0] == "selectScheme" %}
              {% set errorHref = "#selectScheme" %}
            {% elif error.path[0] == "holdCategoryId" %}
              {% set errorHref = "#selectHoldCategoryId" %}
            {% endif %}
            {%
              set errorList = (errorList.push({
                text: error.message,
                href: errorHref
              }), errorList)
            %}
          {% endfor %}

          {{
            govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
            })
          }}
        {% endif %}

        {% set fileError = null %}
        {% set schemeError = null %}
        {% set holdCategoryError = null %}
        {% if errors %}
          {% for error in errors.details %}
            {% if error.path[0] == "file" %}
              {% set fileError = { text: error.message } %}
            {% elif error.path[0] == "selectScheme" %}
              {% set schemeError = { text: error.message } %}
            {% elif error.path[0] == "holdCategoryId" %}
              {% set holdCategoryError = { text: error.message } %}
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if not fileError and fileErrorMessage %}
          {% set fileError = fileErrorMessage %}
        {% endif %}

        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        <p class="govuk-body">
          {% if type == 'add' %}
            Add multiple payment holds to a scheme and a hold type by uploading
            a CSV file.
          {% else %}
            Remove multiple payment holds from a scheme and a hold type by
            uploading a CSV file.
          {% endif %}
        </p>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with CSV file format
            </span>
          </summary>
          <div class="govuk-details__text">
            CSVs should only contain a list of ten-digit FRNs to be placed on
            hold, with each separated by a comma. Other formats may not be read
            correctly.
          </div>
        </details>

        {{
          govukFileUpload({
            id: "file",
            name: "file",
            label: {
              text: "Upload a CSV file",
              classes: "govuk-label--s"
            },
            value: file,
            javascript: true,
            errorMessage: fileError
          })
        }}

        {{
          holdSelectionRadios(holdCategoryRadios, selectScheme, selectHoldCategoryId, schemeError, holdCategoryError)
        }}

        <div class="govuk-button-group">
          {{
            govukButton({
              text: (type | capitalize) ~ " holds"
            })
          }}
          <a
            class="govuk-link"
            href="/payment-holds/bulk-manage">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
