{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% from 'macros/hold-selection-radios.njk' import holdSelectionRadios %}

{% block content %}
  {{ govukBreadcrumbs({
    items: [      
      { text: "Home", href: "/" },
      { text: "Holds", href: "/payment-holds" },
      { text: "Add Bulk", href: "/payment-holds/bulk" }
    ]
  })}}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form method="POST" action="/payment-holds/bulk" autocomplete="off" novalidate enctype="multipart/form-data">
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        <h1 class="govuk-heading-l">Bulk payment holds</h1>
        <p class="govuk-body">
          Any FRNs provided here will have holds applied or removed depending on your input.
        </p>
    {% if errors %}
      {% set errorList = [] %}
      {% for error in errors.details %}
        {% set errorList = (errorList.push({
          text: error.message
        }), errorList) %}
      {% endfor %}
      
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}

        {{ govukSelect({
          id: "remove",
          name: "remove",
          label: {
            text: "Do you want to add or remove holds?"
          },
          items: [
            {
              value: "false",
              text: "Add",
              selected: remove === "false" or not remove
            },
            {
              value: "true",
              text: "Remove",
              selected: remove === "true"
            }
          ]
        }) }}

        {{ govukFileUpload({
          id: "file",
          name: "file",
          label: {
            text: "Upload a file",
            classes: "govuk-label--s"
          },
          hint: {
            text: "File should be in CSV format, containing only FRNs to be placed on hold, separated with commas."
          },
          value: file
        }) }}
        
        {{ holdSelectionRadios(holdCategoryRadios, selectScheme) }}

        {{ govukButton({
          text: "Create"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}