{% extends "_layout.njk" %}
{% from "macros/loading.njk" import renderLoadingPage %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block content %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    },{
      text: "Payment holds",
      href: "/payment-holds"
    },
    { 
      text: "Bulk upload", 
      href: "#", 
      attributes: { 'aria-disabled': 'true', 'class': 'govuk-breadcrumbs__link--disabled' } 
    }]
  })}}

  {{ renderLoadingPage(
    jobId=jobId,
    checkUrl="/loading/" + jobId,
    redirectUrl="/payment-holds",
    title="Preparing your report",
    statusMessage="We’re preparing your report. This can take a few minutes for large datasets.",
    completedMessage="Your report has been successfully downloaded. You may now close this window.",
    errorMessage="We were unable to generate your report."
  ) }}
{% endblock %}