{% extends '_layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = "Create a new agreement closure" %}

{% block pageTitle %}{{ pageTitle }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    }, {
      text: "Manage agreement closures",
      href: "/closure/manage"
    },{
      text: pageTitle
    }]
  })}}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form method="POST" action="/closure/add" autocomplete="off" novalidate>
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

        <p class="govuk-body">Adding a new agreement closure will supress payments against the Firm Reference Number (FRN) and agreement number that you provide.</p>
        <p class="govuk-body">If a ‘0’ value request is provided for SFI22 only, any amount repayable will be suppressed from the date you provide, and Dynamics 365 will be notified that the outstanding value should be reduced to ‘0’.</p>
        <p class="govuk-body">If you need any support, contact the Payment Hub team.</p>

        <p class="govuk-body">Alternatively, you can <a href="/closure/bulk" class="govuk-link">add agreement closures in bulk</a>.</p>
        {% if errors %}
          <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
              <h2 class="govuk-error-summary__title">There is a problem</h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  {% for err in errors.details %}
                    <li><a href="#{{ err.path[0] or err.context.key }}">{{ err.message }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          {# Build per-field error variables from errors.details #}
          {% set frnError = null %}
          {% set agreementError = null %}
          {% set schemeIdError = null %}
          {% set dayError = null %}
          {% set monthError = null %}
          {% set yearError = null %}
          {% for err in errors.details %}
            {% set field = (err.path and err.path[0]) or (err.context and err.context.key) %}
            {% if field == 'frn' %}{% set frnError = err.message %}{% endif %}
            {% if field == 'agreement' %}{% set agreementError = err.message %}{% endif %}
            {% if field == 'schemeId' %}{% set schemeIdError = err.message %}{% endif %}
            {% if field == 'day' %}{% set dayError = err.message %}{% endif %}
            {% if field == 'month' %}{% set monthError = err.message %}{% endif %}
            {% if field == 'year' %}{% set yearError = err.message %}{% endif %}
          {% endfor %}
        {% endif %}

        <div class="govuk-form-group {% if frnError %}govuk-form-group--error{% endif %}">
          <label class="govuk-label govuk-label-s" for="frn">
            Firm Reference Number (FRN)
          </label>
          {% if frnError %}
            <p id="frn-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> {{ frnError }}</p>
          {% endif %}
          <input class="govuk-input {% if frnError %}govuk-input--error{% endif %} govuk-input--width-10" id="frn" name="frn" type="text" value="{{ frn }}" {% if frnError %}aria-describedby="frn-error"{% endif %}>
        </div>

        <div class="govuk-form-group {% if agreementError %}govuk-form-group--error{% endif %}">
          <label class="govuk-label govuk-label-s" for="agreement">
            Agreement number
          </label>
          <div class="govuk-hint">
            Include all leading 0s
          </div>
          {% if agreementError %}
            <p id="agreement-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> {{ agreementError }}</p>
          {% endif %}
          <input class="govuk-input {% if agreementError %}govuk-input--error{% endif %} govuk-input--width-10" id="agreement" name="agreement" type="text" value="{{ agreement }}" {% if agreementError %}aria-describedby="agreement-error"{% endif %}>
        </div>

        <div class="govuk-form-group {% if schemeIdError %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="schemeId">Scheme</label>
          {% if schemeIdError %}
            <p id="scheme-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> {{ schemeIdError }}</p>
          {% endif %}
          <select class="govuk-select {% if schemeIdError %}govuk-select--error{% endif %}" id="schemeId" name="schemeId" {% if schemeIdError %}aria-describedby="scheme-error"{% endif %}>
            <option value="" {% if not schemeId %}selected{% endif %}>Select a scheme</option>
            {% for scheme in schemes %}
              <option value="{{ scheme.schemeId }}" {% if scheme.schemeId == selectedSchemeId %}selected{% endif %}>{{ scheme.name }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="govuk-form-group {% if dayError or monthError or yearError %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="closure-date-hint {% if dayError %}day-error{% endif %} {% if monthError %}month-error{% endif %} {% if yearError %}year-error{% endif %}">
            <legend class="govuk-fieldset__legend govuk-label-s">
              Closure activation date
            </legend>
            <div id="closure-date-hint" class="govuk-hint">
              For example, 27 11 2023
            </div>
            {% if dayError %}
              <p id="day-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> {{ dayError }}</p>
            {% endif %}
            {% if monthError %}
              <p id="month-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> {{ monthError }}</p>
            {% endif %}
            {% if yearError %}
              <p id="year-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> {{ yearError }}</p>
            {% endif %}
            <div class="govuk-date-input" id="closure-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="day">
                    Day
                  </label>
                  <input class="govuk-input {% if dayError %}govuk-input--error{% endif %} govuk-date-input__input govuk-input--width-2" id="day" name="day" type="text" inputmode="numeric" value="{{ day }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="month">
                    Month
                  </label>
                  <input class="govuk-input {% if monthError %}govuk-input--error{% endif %} govuk-date-input__input govuk-input--width-2" id="month" name="month" type="text" inputmode="numeric" value="{{ month }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="year">
                    Year
                  </label>
                  <input class="govuk-input {% if yearError %}govuk-input--error{% endif %} govuk-date-input__input govuk-input--width-4" id="year" name="year" type="text" inputmode="numeric" value="{{ year }}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            attributes: {
              id: "submit"
            }
          }) }}
          <a class="govuk-link" href="/closure/manage">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
