{% extends '_layout.njk' %}

{% from 'macros/events-breadcrumbs.njk' import eventsBreadcrumbs %}
{% from 'macros/payment-event-summary-row.njk' import paymentEventSummaryRow %}
{% from 'macros/build-pagination.njk' import buildPagination %}

{% set pageTitle = "View batch file payments and their status" %}
{% set hasMultiplePages = totalPages and totalPages > 1 %}
{% set extraQuery = "&batch=" + batch %}

{% block pageTitle %}
  {% if hasMultiplePages %}
    Page {{ page }} - {{ pageTitle }} - {{ serviceName }}
  {% else %}
    {{ pageTitle }} - {{ serviceName }}
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {{ eventsBreadcrumbs(pageTitle) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      {% if payments.length %}
        <p class="govuk-body-m">
          View the batch payment file and access the payment history for an
          associated FRN or
          <a
            class="govuk-link"
            href="/monitoring">start a new search</a>.
        </p>

        <p class="govuk-body">
          We've found {{ numberOfPayments }} payment event{{
            's' if numberOfPayments != 1
          }}.
        </p>

        <h2 class="govuk-heading-m">{{ batch }}</h2>

        {{
          paymentEventSummaryRow(payments.length, hasMultiplePages, perPage, [100, 500, 1000], extraQuery)
        }}

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th
                scope="col"
                class="govuk-table__header govuk-body-s">
                Scheme
              </th>
              <th
                scope="col"
                class="govuk-table__header govuk-body-s">
                FRN
              </th>
              <th
                scope="col"
                class="govuk-table__header govuk-table__header--numeric govuk-body-s">
                Year
              </th>
              <th
                scope="col"
                class="govuk-table__header govuk-body-s">
                Agreement
              </th>
              <th
                scope="col"
                class="govuk-table__header govuk-table__header--numeric govuk-body-s">
                Request
              </th>
              <th
                scope="col"
                class="govuk-table__header govuk-table__header--numeric govuk-body-s">
                Value
              </th>
              <th
                scope="col"
                class="govuk-table__header govuk-body-s">
                Status
              </th>
              <th
                scope="col"
                class="govuk-table__header govuk-body-s">
                Activity
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for payment in payments %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s">
                  {{ payment.scheme }}
                </td>
                <td class="govuk-table__cell govuk-body-s">
                  {{ payment.frn }}
                </td>
                <td
                  class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
                  {{ payment.marketingYear }}
                </td>
                <td class="govuk-table__cell govuk-body-s">
                  {{ payment.agreementNumber }}
                </td>
                <td
                  class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
                  {{ payment.paymentRequestNumber }}
                </td>
                <td
                  class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
                  {{ payment.originalValueText }}
                </td>
                <td class="govuk-table__cell govuk-body-s">
                  <strong
                    class="govuk-tag {% if payment.status.state == 'Completed' %}govuk-tag--green{% elif payment.status.state == 'Waiting' %}govuk-tag--yellow{% endif %}">
                    {{ payment.status.detail }}
                  </strong>
                </td>
                <td class="govuk-table__cell govuk-body-s">
                  <a
                    class="govuk-link"
                    href="/monitoring/payments/frn?frn={{ payment.frn }}">View</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        {% if hasMultiplePages %}
          {{
            buildPagination(page, totalPages, perPage, extraQuery, paginationItems)
          }}
        {% endif %}
      {% else %}
        <p
          id="no-hold-text"
          class="govuk-body">
          No payment events were found for the entered batch file name.
        </p>

        <p class="govuk-body">
          <a
            class="govuk-link"
            href="/monitoring">Start a new search to try again.</a>
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
