{% extends "_layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = "View payment events" %}
{%
  set breadcrumbs = [{
    text: "Home",
        href: "/"
      },{
        text: pageTitle
  }]
%}

{% block pageTitle %}{{ pageTitle }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({ items: breadcrumbs }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if error %}
        {{
          govukErrorSummary({
            titleText: "There is a problem",
            errorList: [{
              text: error,
              href: "#search-" + (errorField or "frn")
            }]
          })
        }}
      {% endif %}

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p class="govuk-body-m">
        Search and view payment events and activity by Firm Reference Number
        (FRN) or batch payment file name.
      </p>

      <form
        class="govuk-!-margin-bottom-6 app-search-form"
        aria-label="Payment FRN search form."
        action="/monitoring/payments/frn"
        method="get"
        role="search">
        {{
          govukInput({
            label: {
              text: "Firm Reference Number (FRN)"
            },
            id: "search-frn",
            name: "frn",
            type: "search",
            classes: "govuk-input--width-20",
            errorMessage: { text: error } if errorField == "frn" else undefined
          })
        }}

        {{
          govukButton({
            text: "Search",
            type: "submit"
          })
        }}
      </form>

      <form
        class="govuk-!-margin-bottom-6 app-search-form"
        action="/monitoring/batch/name"
        aria-label="Payment batch search form."
        method="get"
        role="search">
        {{
          govukInput({
            label: {
              text: "Batch payment file name"
            },
            id: "search-batch",
            name: "batch",
            type: "search",
            classes: "govuk-input--width-20",
            errorMessage: { text: error } if errorField == "batch" else undefined
          })
        }}

        {{
          govukButton({
            text: "Search",
            type: "submit"
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
