{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "View payment events by scheme" %}

{% block pageTitle %}{{ pageTitle }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{
    govukBreadcrumbs({
      items: [{
        text: "Home",
        href: "/"
      },{
        text: pageTitle
      }]
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form
        method="GET"
        action="/monitoring/view-processed-payment-requests"
        autocomplete="off"
        novalidate>
        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        <p class="govuk-body-m">
          Select a scheme to view how many payments have been made and the
          combined value.
        </p>
        {% if error %}
          <div
            class="govuk-error-summary"
            aria-labelledby="error-summary-title"
            role="alert"
            tabindex="-1"
            data-module="govuk-error-summary">
            <h2
              class="govuk-error-summary__title"
              id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#schemeId">{{ error }}</a>
                </li>
              </ul>
            </div>
          </div>
        {% endif %}

        {% if data.length %}
          <div
            class="govuk-form-group{% if error %} govuk-form-group--error{% endif %}">
            <label
              class="govuk-label"
              for="schemeId">
              Scheme
            </label>
            {% if error %}
              <p
                id="schemeId-error"
                class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> {{ error }}
              </p>
            {% endif %}
            <select
              class="govuk-select{% if error %} govuk-select--error{% endif %}"
              id="schemeId"
              name="schemeId"
              {% if error %}aria-describedby="schemeId-error"{% endif %}>
              <option value="">Select a scheme</option>
              {% for scheme in data %}
                <option value="{{scheme.schemeId}}">{{ scheme.name }}</option>
              {% endfor %}
            </select>
          </div>
          {{
            govukButton({
              text: "Continue",
              attributes: {
                id: "submit"
              }
            })
          }}
        {% else %}
          <p
            id="no-schemes"
            class="govuk-body">
            No schemes were found.
          </p>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}
