{% extends '_layout.njk' %}

{%
  from 'macros/download-statement-fields.njk' import schemeSelect, yearInput, frnInput, submitButton
%}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = "Download payment statements" %}

{% block pageTitle %}{{ pageTitle }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{
    govukBreadcrumbs({
      items: [{
        text: "Home",
        href: "/"
      }, {
        text: pageTitle
      }]
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set filenameError = null %}
      {% set schemeError = null %}
      {% set yearError = null %}
      {% set frnError = null %}
      {% set timestampError = null %}

      {% if error and error.details %}
        {% set errorList = [] %}

        {% for errorDetail in error.details %}
          {% set errorKey = errorDetail.context.key %}
          {% set errorHref = "#filename" %}

          {% if errorKey == "filename" %}
            {% set filenameError = { text: errorDetail.message } %}
            {% set errorHref = "#filename" %}
          {% elseif errorKey == "schemeId" %}
            {% set schemeError = { text: errorDetail.message } %}
            {% set errorHref = "#schemeId" %}
          {% elseif errorKey == "marketingYear" %}
            {% set yearError = { text: errorDetail.message } %}
            {% set errorHref = "#marketingYear" %}
          {% elseif errorKey == "frn" %}
            {% set frnError = { text: errorDetail.message } %}
            {% set errorHref = "#frn" %}
          {% elseif errorKey == "timestamp" %}
            {% set timestampError = { text: errorDetail.message } %}
            {% set errorHref = "#timestamp" %}
          {% endif %}

          {%
            set errorList = (errorList.push({
              text: errorDetail.message,
              href: errorHref
            }), errorList)
          %}
        {% endfor %}

        {{
          govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          })
        }}
      {% elseif error %}
        {{
          govukErrorSummary({
            titleText: "There is a problem",
            errorList: [{
              text: error.message,
              href: "#filename"
            }]
          })
        }}
      {% endif %}

      <p class="govuk-body">
        Statements provide customers with payment details. <br />
        You can search for a specific statement by entering the full file name,
        or search for all of a customer's statements using the Firm Reference
        Number (FRN).<br />
        If you want to find statements for multiple customers, search using the
        scheme and/or marketing year
      </p>

      <h2 class="govuk-heading-l">Search Criteria</h2>
      <form
        method="POST"
        action="/download-statements">
        <input
          type="hidden"
          name="crumb"
          value="{{ crumb }}"
        />

        {{
          govukInput({
            id: "filename",
            name: "filename",
            label: {
              text: "Full filename",
              classes: "govuk-label--s"
            },
            classes: "govuk-input--width-30",
            value: filename,
            errorMessage: filenameError
          })
        }}

        {{ schemeSelect(schemes, schemeId, schemeError) }}

        {{ yearInput(marketingYear, yearError) }}

        {{ frnInput(frn, frnError) }}

        {{
          govukInput({
            id: "timestamp",
            name: "timestamp",
            label: {
              text: "Timestamp",
              classes: "govuk-label--s"
            },
            hint: {
              text: "For example, 06-01-2026 18:00"
            },
            classes: "govuk-input--width-20",
            value: timestamp,
            errorMessage: timestampError
          })
        }}

        {{ submitButton('Search') }}
      </form>
    </div>
  </div>
{% endblock %}
