{% extends '_layout.njk' %}

{%
  from "macros/alert-helpers.njk" import alertManagementBreadcrumbs, alertManagementPageContent
%}

{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Manage email alerts by scheme" %}

{% block pageTitle %}{{ pageTitle }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ alertManagementBreadcrumbs(pageTitle) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

  <p class="govuk-body">
    Choose a scheme to view existing email alerts and manage who receives each
    type of alert.
  </p>

  <form
    method="GET"
    action="/alerts/by-scheme"
    class="govuk-!-margin-bottom-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% set schemeItems = [] %}
        {% for scheme in schemes %}
          {%
            set schemeItems = (schemeItems.push({
              value: scheme.schemeId,
              text: scheme.name,
              selected: schemeName == scheme.name
            }), schemeItems)
          %}
        {% endfor %}

        {{
          govukSelect({
            id: "schemeId",
            name: "schemeId",
            label: {
              text: "Select scheme",
              classes: "govuk-label--s"
            },
            items: schemeItems
          })
        }}
      </div>
    </div>

    <div class="govuk-button-group">
      {{
        govukButton({
          text: "Search",
          attributes: {
            id: "submit"
          }
        })
      }}
    </div>
  </form>
{% endblock %}
