{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from 'macros/card-grid.njk' import cardGrid %}
{% from 'macros/alert-notification-banner.njk' import alertNotificationBanner %}

{% set pageTitle = "Manage email alerts by scheme" %}

{% block pageTitle %}{{ pageTitle }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{
    govukBreadcrumbs({
      items: [{
        text: "Home",
        href: "/"
      }, {
        text: "Manage email alerts",
        href: "/alerts/manage"
      }, {
        text: pageTitle
      }]
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ alertNotificationBanner(updated, removed, emailAddress) }}

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p class="govuk-body">
        Select a scheme to manage its email alerts.
      </p>
      <p class="govuk-body">
        Use the cards below to choose the scheme you want to review or update.
      </p>

      {{ cardGrid(cards) }}
    </div>
  </div>
{% endblock %}
