{% extends '_layout.njk' %}

{% from 'macros/breadcrumbs.njk' import breadcrumbs %}

{% set pageTitle = "Manage email alerts" %}

{% block pageTitle %}{{ pageTitle }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ breadcrumbs(pageTitle) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if updated %}
        <div
          class="govuk-notification-banner govuk-notification-banner--success"
          role="alert"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2
              class="govuk-notification-banner__title"
              id="govuk-notification-banner-title-hold-added">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Alerts for {{ emailAddress }} have been updated.
            </h3>
          </div>
        </div>
      {% endif %}
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p class="govuk-body">
        Email alerts are emails sent to a recipient when certain events happen.
        They are set up by the admin team when a scheme is added to the payment
        hub. They can be managed by individual scheme, or by a recipient’s
        email address if you need to update multiple schemes.
      </p>

      {% set cardGroups = [] %}
      {% for i in range(0, cards | length, 2) %}
        {% set cardGroups = cardGroups.concat([cards.slice(i, i + 2)]) %}
      {% endfor %}

      {% for group in cardGroups %}
        <div class="govuk-cards govuk-cards--2">
          {% for card in group %}
            <div
              class="govuk-cards--2__item govuk-card--dashboard dashboard-card">
              <h2 class="govuk-heading-m card__heading">
                <a
                  href="{{ card.href }}"
                  class="govuk-link">{{ card.text }}</a>
              </h2>
              <div class="govuk-hint">
                {{ card.description }}
              </div>
            </div>
          {% endfor %}
          {% if group | length == 1 %}
            <div class="govuk-cards--2__item govuk-u-hidden"></div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
