{% extends '_layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{%
  from "macros/alert-helpers.njk" import confirmationChangeLink, confirmationQueryParams
%}
{%
  from "macros/alert-summary-cards.njk" import recipientSummaryCard, schemeSummaryCard, confirmationHiddenFields
%}

{%
  set pageTitle = "Check alerts for " ~ emailAddress ~ " are correct before saving"
%}
{%
  set updatePageTitle = contactId ? "Update " ~ emailAddress ~ " alerts" : "Add new alert recipient"
%}
{%
  set breadcrumbData = {
    contactId: contactId,
    emailAddress: emailAddress,
    action: action
  }
%}

{% block pageTitle %}{{ pageTitle }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{
    govukBreadcrumbs({
      items: [{
        text: "Home",
        href: "/"
      }, {
        text: "Manage email alerts",
        href: "/alerts/manage"
      }, {
        text: updatePageTitle,
        href: "/alerts/update?" ~ confirmationQueryParams(breadcrumbData, schemes)
      }, {
        text: pageTitle
      }]
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      {% if not contactId %}
        {{
          recipientSummaryCard(
            formPath,
            { emailAddress: emailAddress, action: action },
            schemes,
            null,
            null,
            emailAddress
          )
        }}
      {% endif %}

      {% for scheme in schemes %}
        {{
          schemeSummaryCard(
            scheme,
            formPath,
            { contactId: contactId, emailAddress: emailAddress, action: action },
            schemes,
            scheme.schemeId,
            scheme.schemeId,
            formatAlertType
          )
        }}
      {% endfor %}

      <form
        method="POST"
        action="{{ formAction }}"
        autocomplete="off"
        novalidate>
        {{
          confirmationHiddenFields(crumb, contactId, emailAddress, action, schemeId, schemes)
        }}

        {{
          govukButton({
            text: "Confirm changes",
            attributes: {
              id: "submit",
              type: "submit"
            }
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
