{% extends '_layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from 'macros/alert-breadcrumbs.njk' import alertBreadcrumbs %}

{% block content %}
  {{ alertBreadcrumbs() }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form method="POST" action="/alerts/update" autocomplete="off" novalidate>
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        <input type="hidden" name="contactId" value="{{contactId}}"/>
        {% if contactId %}
          <h1 class="govuk-heading-l">Update alert recipient</h1>
        {% else %}
          <h1 class="govuk-heading-l">Add new alert recipient</h1>
        {% endif %}
        {% if error %}
          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <span class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> {{ error.message }}</span>
                </li>
              </ul>
            </div>
          </div>
        {% endif %}
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label-s" for="emailAddress">
            Email address
          </label>
          <input class="govuk-input" id="emailAddress" name="emailAddress" type="text" value="{{ emailAddress }}">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="selectView">
            Select a scheme to view alerts for
          </label>
          <select class="govuk-select" id="selectView" name="selectView">
            <option value="all" {% if selectView == 'all' or selectView == null %}selected{% endif %}>All</option>
            {% for scheme in schemesPayload %}
              <option value="{{ scheme.schemeId }}" {% if selectView == scheme.schemeId %}selected{% endif %}>{{ scheme.name }}</option>
            {% endfor %}
          </select>
        </div>

        {% for scheme in schemesPayload %}
          <div class="govuk-form-group scheme-group" data-scheme-id="{{ scheme.schemeId }}">
            {% set schemeForId = scheme.name | lower | replace(' ', '-') %}
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend">
                Alert types for {{ scheme.name }}
              </legend>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="{{ schemeForId }}-all" name="{{ scheme.schemeId }}" type="checkbox" value="all" data-behaviour="exclusive">
                  <label class="govuk-label govuk-checkboxes__label" for="{{ schemeForId }}-all">
                    Receive all alerts for this scheme
                  </label>
                </div>
                <div id="{{schemeForId}}-hint" class="govuk-hint govuk-!-margin-top-3 govuk-!-margin-bottom-3">or, select individual alerts to receive:</div>
                {% for alertType in alertTypesPayload %}
                  <div class="govuk-checkboxes__item">
                    {% set alertForId = alertType | lower | replace(' ', '-') %}
                    <input class="govuk-checkboxes__input" id="{{ schemeForId }}-{{ alertForId }}" name="{{ scheme.schemeId }}" type="checkbox" value="{{ alertType }}" {% if selectedAlerts[alertType] and selectedAlerts[alertType][scheme.schemeId] %}checked{% endif %}>
                    {% set parts = alertType.split('_') %}
                    <label class="govuk-label govuk-checkboxes__label" for="{{ schemeForId }}-{{ alertForId }}">
                      {% for part in parts %}
                        {{ part | capitalize }}{% if not loop.last %} {% endif %}
                      {% endfor %}
                    </label>
                  </div>
                {% endfor %}
              </div>
            </fieldset>
          </div>
        {% endfor %}
        <div class="govuk-button-group">
          {% if contactId %}
            {{ govukButton({
              text: "Confirm changes",
              attributes: {
                id: "submit",
                type: "submit",
                name: "action",
                value: "edit"
              }
            }) }}
            <button onclick="window.location.href='/alerts/confirm-delete?contactId={{ contactId }}'" type="button" class="govuk-button govuk-button--warning" data-module="govuk-button">
              Remove email
            </button>
          {% else %}
            {{ govukButton({
              text: "Create",
              attributes: {
                id: "submit",
                type: "submit",
                name: "action",
                value: "create"
              }
            }) }}
          {% endif %}
        </div>
      </form>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const selectView = document.getElementById('selectView')
      const schemeGroups = document.querySelectorAll('.scheme-group')

      function filterSchemes() {
        const selected = selectView.value
        schemeGroups.forEach(group => {
          if (selected === 'all' || group.dataset.schemeId === selected) {
            group.style.display = 'block'
          } else {
            group.style.display = 'none'
          }
        })
      }

      selectView.addEventListener('change', filterSchemes)

      filterSchemes()
    })
  </script>
{% endblock %}
