{{- include "ffc-helm-library.container-config-map" (list . "ffc-pay-web.config-map") -}}
{{- define "ffc-pay-web.config-map" -}}
data:
  NODE_ENV: {{ quote .Values.environment }}
  PORT: {{ quote .Values.container.port }}
  APPINSIGHTS_CLOUDROLE: {{ quote .Values.name }}
  REDIS_HOSTNAME: {{ quote .Values.container.redisHostname }}
  REDIS_PORT: {{ quote .Values.container.redisPort }}
  {{- if and (.Values.environmentCode) (not .Values.pr) }}
    {{- if ne .Values.environmentCode "snd" }}
  PAYMENTS_SERVICE_ENDPOINT: {{ .Values.container.paymentsEndpoint }}-{{ .Values.environmentCode }}
  TRACKING_SERVICE_ENDPOINT: {{ .Values.container.trackingEndpoint }}-{{ .Values.environmentCode }}
  INJECTION_SERVICE_ENDPOINT: {{ .Values.container.injectionEndpoint }}-{{ .Values.environmentCode }}
  ALERTING_SERVICE_ENDPOINT: {{ .Values.container.alertingEndpoint }}-{{ .Values.environmentCode }}
    {{ else }}
  PAYMENTS_SERVICE_ENDPOINT: {{ quote .Values.container.paymentsEndpoint }}
  TRACKING_SERVICE_ENDPOINT: {{ quote .Values.container.trackingEndpoint }}
  INJECTION_SERVICE_ENDPOINT: {{ quote .Values.container.injectionEndpoint }}
  ALERTING_SERVICE_ENDPOINT: {{ quote .Values.container.alertingEndpoint }}
    {{- end }}
  {{ else }}
  PAYMENTS_SERVICE_ENDPOINT: {{ quote .Values.container.paymentsEndpoint }}
  TRACKING_SERVICE_ENDPOINT: {{ quote .Values.container.trackingEndpoint }}
  INJECTION_SERVICE_ENDPOINT: {{ quote .Values.container.injectionEndpoint }}
  ALERTING_SERVICE_ENDPOINT: {{ quote .Values.container.alertingEndpoint }}
  {{- end }}
  {{- if .Values.pr }}
  REDIRECT_URL: https://{{ .Values.ingress.endpoint }}-{{ .Values.pr }}.{{ .Values.ingress.server }}/{{ .Values.azureAppRegistration.redirectUrl }}
  {{ else }}
  REDIRECT_URL: https://{{ .Values.ingress.endpoint }}.{{ .Values.ingress.server }}/{{ .Values.azureAppRegistration.redirectUrl }}
  {{- end }}
  AUTHENTICATION_ENABLED: {{ quote .Values.azureAppRegistration.enabled }}
  PAY_EVENT_STORE_AZURE_STORAGE_CONNECTION_STRING: {{ quote .Values.container.payEventStoreAzureStorageConnectionString }}
  PAY_INJECTION_AZURE_STORAGE_CONNECTION_STRING: {{ quote .Values.container.payInjectionAzureStorageConnectionString }}
  DOC_AZURE_STORAGE_CONNECTION_STRING: {{ quote .Values.container.docAzureStorageConnectionString }}
  AZURE_STORAGE_USE_CONNECTION_STRING: {{ quote .Values.container.azureStorageUseConnectionString }}
  AZURE_STORAGE_CREATE_CONTAINERS: {{ quote .Values.container.azureStorageCreateContainers }}
  PAY_AZURE_STORAGE_ACCOUNT_NAME: {{ quote .Values.container.azureStorageAccountName }}
  DOC_AZURE_STORAGE_ACCOUNT_NAME: {{ quote .Values.container.docAzureStorageAccountName }}  
  LEGACY_REPORTS_ACTIVE: {{ quote .Values.container.legacyReportsActive }}
  MANUAL_PAYMENTS_ACTIVE: {{ quote .Values.container.manualPaymentsActive }}
  MESSAGE_QUEUE_HOST: {{ quote .Values.container.messageQueueHost }}
  {{- if and (.Values.environmentCode) (not .Values.pr) }}
  DATA_TOPIC_ADDRESS: {{ .Values.container.dataTopicAddress }}-{{ .Values.environmentCode }}
  DATARESPONSE_QUEUE_ADDRESS: {{ .Values.container.dataResponseQueueAddress }}-{{ .Values.environmentCode }}
  {{ else }}
  DATA_TOPIC_ADDRESS: {{ quote .Values.container.dataTopicAddress }}
  DATARESPONSE_QUEUE_ADDRESS: {{ quote .Values.container.dataResponseQueueAddress }}
  {{- end }}
  {{- if .Values.container.devTeamEmails }}
  DEV_TEAM_EMAILS: {{ quote .Values.container.devTeamEmails }}
  {{- end }}
  {{- if .Values.container.pdsTeamEmails }}
  PDS_TEAM_EMAILS: {{ quote .Values.container.pdsTeamEmails }}
  {{- end }}
  {{- if .Values.container.approvedEmailDomains }}
  APPROVED_EMAIL_DOMAINS: {{ quote .Values.container.approvedEmailDomains }}
  {{- end}}
{{- end -}}
