environment: development
environmentCode:
name: ffc-pay-web
namespace: ffc-pay
workstream: ffc-pay
image: ffc-pay-web

labels:
  component: web

appInsights:
  connectionString:

azureIdentity:
  clientID: not-a-real-clientID
  resourceID: not-a-real-resourceID

containerConfigMap:
  name: ffc-pay-web-config-map

containerSecret:
  name: ffc-pay-web
  type: Opaque

service:
  port: 80
  type: ClusterIP

deployment: {}

container:
  requestMemory: 500Mi
  requestCpu: 500m
  limitMemory: 800Mi
  port: 3007
  paymentsEndpoint: http://ffc-pay-processing.ffc-pay
  trackingEndpoint: http://ffc-pay-tracking.ffc-pay
  injectionEndpoint: http://ffc-pay-injection.ffc-pay
  alertingEndpoint: http://ffc-pay-alerting.ffc-pay
  statementPublisherEndpoint: http://ffc-doc-statement-publisher.ffc-doc
  cookiePassword: cookiecookiecookiecookiecookiecookie
  azureStorageUseConnectionString: false
  azureStorageCreateContainers: false
  payEventStoreAzureStorageConnectionString: dummy
  payInjectionAzureStorageConnectionString: dummy
  docAzureStorageConnectionString: dummy
  azureStorageAccountName: ffcpay
  docAzureStorageAccountName: ffcdoc
  manualPaymentsActive: true
  messageQueueHost: namespace.servicebus.windows.net
  dataTopicAddress: ffc-pay-data-request
  dataResponseQueueAddress: ffc-pay-data-request-response
  redisHostname: redis-host-name
  redisPort: 6379
  redisPassword: redis
  approvedEmailDomains:
  stmtDbTimeoutMs: 2000
  stmtDbFailures: 3
  stmtDbResetMs: 10000
  azureAppRegistrationEnabled: true
  azureAppRegistrationClientId:
  azureAppRegistrationTenantId:
  azureAppRegistrationClientSecret:
  azureAppRegistrationRedirectUrl: authenticate

ingress:
  class: nginx
  endpoint: ffc-pay-web
  server: example.com

livenessProbe:
  path: /healthz
  port: 3007
  initialDelaySeconds: 40
  periodSeconds: 30
  failureThreshold: 3
  timeoutSeconds: 20

readinessProbe:
  path: /healthy
  port: 3007
  initialDelaySeconds: 30
  periodSeconds: 10
  failureThreshold: 3
  timeoutSeconds: 20

workloadIdentity: true

secretProviderClass:
  azure:
    keyvaultName: SNDFFCINFKV2001
    objects: # reading the secret from Azure Key Vault
      - objectName: appInsights-connectionString # secret name in Azure Key Vault
        objectType: secret
      - objectName: snd2-ffc-pay-cookie-password
        objectType: secret
      - objectName: snd2-ffcPayWebClientSecret
        objectType: secret
      - objectName: snd2-redisPassword # secret name in Azure Key Vault
        objectType: secret

  secretObjects: # creating a Kubernetes secret from the Azure Key Vault secrets
    - secretName: ffc-pay-web
      type: Opaque
      data:
        - objectName: appInsights-connectionString # secret name in Azure Key Vault
          key: APPINSIGHTS_CONNECTIONSTRING # the secret key in the Kubernetes secret and use in the application
        - objectName: snd2-ffc-pay-cookie-password # secret name in Azure Key Vault
          key: COOKIE_PASSWORD # the secret key in the Kubernetes secret and use in the application
        - objectName: snd2-ffcPayWebClientSecret
          key: AZUREID_CLIENT_SECRET
        - objectName: snd2-redisPassword # secret name in Azure Key Vault
          key: REDIS_PASSWORD # the secret key in the Kubernetes secret and use in the application