{% extends 'report-list/base-report.njk' %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from 'macros/report-form-fields.njk' import reportPageTitle, typeSelect, submitButton, dateInput %}

{% set reportTitle = 'AP/AR Listing Report' %}
{% set reportUrl = '/report-list/ap-ar-report' %}
{% set formAction = '/report-list/ap-ar-report/download' %}
{% set reportTypeItems = [
  { value: "ap-listing-report", text: "AP Listing Report" },
  { value: "ar-listing-report", text: "AR Listing Report" }
] %}

{% block reportContent %}
    {{ reportPageTitle(reportTitle) }}
    {{ typeSelect(reportType, reportTypeItems) }}
    {{ dateInput('start-date', 'Start Date (optional)', errors) }}
    {{ dateInput('end-date', 'End Date (optional)', errors) }}
{% endblock %}
