{% extends 'report-list/base-report.njk' %}
{% from 'macros/report-form-fields.njk' import reportPageTitle, schemeSelect, yearInput, revenueOrCapitalSelect, frnInput, submitButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set reportTitle = 'Claim Level Report' %}
{% set reportUrl = '/report-list/claim-level-report' %}
{% set formAction = '/report-list/claim-level-report/download' %}

{% block reportContent %}
    {{ reportPageTitle(reportTitle) }}
    {{ schemeSelect(schemes, selectedSchemeId) }}
    {{ yearInput(year) }}
    {{ revenueOrCapitalSelect(revenueOrCapital) }}
    {{ frnInput(frn) }}
{% endblock %}
