{% extends 'report-list/base-report.njk' %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% set reportTitle = 'Payment Request Statuses Report' %}
{% set reportUrl = '/report-list/payment-requests-v2' %}
{% set formAction = '/report-list/payment-requests-v2/download' %}
{% block reportContent %}
  {% include "report-list/report-form-fields.njk" %}
{% endblock %}
