{% extends "_layout.njk" %}
{% from "macros/loading.njk" import renderLoadingPage %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block content %}
  {{ govukBreadcrumbs({
    items: [
      { text: "Home", href: "/" },
      { text: "Reports", href: "/report-list" },
      { text: reportTitle, href: reportUrl },
      { 
        text: "Report Preparation", 
        href: "#", 
        attributes: { 'aria-disabled': 'true', 'class': 'govuk-breadcrumbs__link--disabled' } 
      }
    ]
  }) }}

  {{ renderLoadingPage(
    jobId=jobId,
    checkUrl="/loading/" + jobId,
    downloadUrl="/report-list/generation/download/" + jobId,
    title="Preparing your report",
    statusMessage="We’re preparing your report. This can take a few minutes for large datasets.",
    processingMessage="The report is ready and will begin downloading to your device. Please note larger files may take longer to finish.",
    completedMessage="Your report has been successfully downloaded. You may now close this window.",
    errorMessage="We were unable to generate your report."
  ) }}
{% endblock %}