{% extends "govuk/template.njk" %}
{% set govukRebrand = true %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block head %}
  <% htmlWebpackPlugin.files.css.forEach(file => { %>
  <link href="<%= file.replace('../dist/', '/static/') %>" rel="stylesheet">
  <% }) %>
{% endblock %}

{% block header %}
  {{ govukHeader({
    classes: "govuk-header--full-width-border",
    homepageUrl: "/", 
    productName: serviceName, 
    serviceUrl: "/"
  }) }}

  {{ govukServiceNavigation({
    navigation: [
      {
        href: "/logout",
        text: "Sign Out"
      }
    ]
  }) }}
{% endblock %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
  {{ govukFooter({ rebrand: true }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
<% htmlWebpackPlugin.files.js.forEach(file => { %>
  <script src="<%= file.replace('../dist/', '/static/') %>"></script>
<% }) %>
{% endblock %}
