{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from 'macros/hold-selection-radios.njk' import holdSelectionRadios %}

{% set pageTitle = "Create a payment hold" %}

{% block pageTitle %}{{ pageTitle }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    },{
      text: "Manage payment holds",
      href: "/manage-payment-holds"
    }, {
      text: pageTitle
    }]
  })}}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form method="POST" action="/add-payment-hold/confirm" autocomplete="off" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}"/>
        
        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

        <p class="govuk-body">
          To create a new payment hold enter the 10 digit Firm Reference Number (FRN), select the scheme and the hold type. 
        </p>

        <p class="govuk-body">
          If you want to add more than one hold, you can <a href="/payment-holds/bulk" class="govuk-link">bulk add holds</a>.
        </p>
        {% if errors %}
          {% set errorList = [] %}
          {% for errorDetail in errors.details %}
            {% set errorList = (errorList.push({
              text: errorDetail.message,
              href: "#" + (errorDetail.context.key if errorDetail.context.key else "frn")
            }), errorList) %}
          {% endfor %}
          
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
        {% endif %}

        {% set frnError = null %}
        {% if errors %}
          {% for errorDetail in errors.details %}
            {% if errorDetail.context.key == "frn" %}
              {% set frnError = { text: errorDetail.message } %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {{ govukInput({
          label: {
            text: "FRN (Firm reference number)",
            classes: "govuk-label--s"
          },
          id: "frn",
          name: "frn",
          value: frn,
          classes: "govuk-input--width-10",
          errorMessage: frnError,
          inputmode: "numeric",
          spellcheck: false
        }) }}

        {{ holdSelectionRadios(holdCategoryRadios, selectScheme) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            attributes: {
              id: "submit"
            }
          }) }}
          <a class="govuk-link" href="/manage-payment-holds">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}