{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    }]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Agreement closures</h1>

      <p class="govuk-body">
        Any agreements listed here are considered closed. Following the closure date listed, no accounts repayable will be processed.
      </p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Create new closure",
          href: "/closure/add"
        }) }}

        {{ govukButton({
          text: "Create bulk closure",
          href: "/closure/bulk",
          classes: "govuk-button--secondary"
        }) }}
      </div>

      {% if closures.length %}
        {% set tableRows = [] %}
        {% for closure in closures %}
          {% set removeButtonHtml %}
            <form method="POST" action="/closure/remove">
              <input type="hidden" name="crumb" value="{{ crumb }}"/>
              <input type="hidden" name="closedId" value="{{ closure.closedId }}">
              {{ govukButton({
                text: "Remove",
                classes: "govuk-button--warning govuk-!-margin-bottom-0",
                attributes: {
                  "aria-label": "Remove closure for agreement " + closure.agreementNumber
                }
              }) }}
            </form>
          {% endset %}
          {% set tableRows = (tableRows.push([
            { text: closure.frn },
            { text: closure.agreementNumber },
            { text: closure.schemeName },
            { text: closure.closureDate },
            { html: removeButtonHtml }
          ]), tableRows) %}
        {% endfor %}

        {{ govukTable({
          caption: "Agreement closures",
          captionClasses: "govuk-visually-hidden",
          firstCellIsHeader: false,
          head: [
            { text: "FRN" },
            { text: "Agreement Number" },
            { text: "Scheme" },
            { text: "Closure Date" },
            { text: "Actions" }
          ],
          rows: tableRows
        }) }}
      {% else %}
        <p class="govuk-body">There are no agreement closures.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}