{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "macros/unavailable.njk" import contentBlock %}

{% set pageTitle = "Report unavailable" %}

{% block pageTitle %}{{ pageTitle }} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    },{
      text: "Reports",
      href: "/report-list"
    }, {
      text: pageTitle
    }]
  })}}
{% endblock %}

{% block content %}
  {{ contentBlock(pageTitle, "This report is no longer available or does not contain any associated data.") }}
{% endblock %}